* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100svh;
    background-color: rgba(0,0,0,0.7);
    user-select: none;
}

.field {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);
    padding: 0.6vh;
    gap: 0.4vh;
    border-radius: 0.6vh;
    background-color: black;

    div {
        --cell-size: min(4.5vh, 7.5vh);
        height: var(--cell-size);
        width: var(--cell-size);
        border-radius: 0.3vh;
        background-color: white;
    }

   
}

.field>div.I {
    background-color: #6be1ec;
  }
  
  .field>div.L {
    background-color: #f2c35b;
  }
  
  .field>div.O {
    background-color: darkcyan;
  }
  
  .field>div.S {
    background-color: #7be17b;
  }
  
  .field>div.T {
    background-color: #b276f3;
  }
  
  .field>div.I,
  .field>div.L,
  .field>div.O,
  .field>div.S,
  .field>div.T{
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2),
      inset -2px -2px 2px rgba(1, 8, 89, 0.2);
  }


.manage-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 100px;

    &__play{
        margin-bottom: 20px;
        border: 1px solid white;
        background: transparent;
        color: white;
        text-transform: uppercase;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
        letter-spacing: 4px;
        cursor: pointer;
        user-select: none;

        &:focus{
            border: 1px solid white;
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    &__restart{
        border: 1px solid white;
        background: transparent;
        color: white;
        text-transform: uppercase;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
        letter-spacing: 4px;
        cursor: pointer;

        &:active {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.gameover-pic{
    visibility: hidden;
}